<div class="nav">
	<div class="w">
		<div class="user-info">
			<span class="user not-login">
				<span class="link">登录</span>
				<span class="link register">注册</span>
			</span>
			<span class="user login">
				<span class="link-text">欢迎,
					<span class="username"></span>
				</span>
				<span class="link js-logout">退出</span>
			</span>
		</div>
		<ul class="nav-list">
			<a class="link" href="./cart.html">
				<i class="fa fa-shopping-cart"></i>
				<li class="nav-item">购物车<span class="car-cont">0</span>
				</li>
			</a>
			<li class="nav-item">
				<a class="link" href="./order.html">我的订单</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./about.html">我的mmall</a>
			</li>
		</ul>		
	</div>
</div>